<link rel="stylesheet" href="https://uslugi.necada.org/js/katex/katex.min.css" crossorigin="anonymous">
<script defer src="https://uslugi.necada.org/js//katex/katex.min.js" crossorigin="anonymous"></script>
<script defer src="https://uslugi.necada.org/js/katex/contrib/auto-render.js" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

<!-- Script to enable inline math expressions -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "\\[", right: "\\]", display: true},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false}
            ]
        });
    });
</script>
